<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="io.symphonia.lambda.logging.DefaultConsoleAppender">
        <encoder>
            <pattern>%date | request_id=%X{AWSRequestId:-NO-REQUEST-ID} | log_thread=%thread | log_level=%-5level | log_logger=%logger | %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.amazonaws" level="INFO"/>
</configuration>
